.container-fluid{ background-color:#222222; color:#f8f8ff; min-height: 60px;}
h1 img,header {float:left;}
h1 img{margin:5px 0px;}
header{margin-top:15px; margin-left:20px; margin-bottom: 10px; color:#f8f8ff;}
.content{ min-height: 510px;}
.col-md-4{text-align: center;}
form{ margin-top:60px;}

.nav{text-align:center; color:#eaeaea; padding:8px 0px;}
.col-md-2{text-align:center;}
.nav a{ display:block; font-weight: bold; color:#123456; font-size:14px;
       padding:4px 4px;}
.nav a:hover{box-shadow:0px 0px 1px  #222222;  }
#logout_btn{float:right;}
table{margin-top:50px; box-shadow:0px 0px 1px  #222222; width:80%; }
th,td{ text-align: center;}
#ind_show{background-color:#222222; color:#f8f8ff;}
.add_trainee_form{text-align:left;}
#action{ color:black;}
#action:hover{color:teal;}
